.todo_list {
  margin-top: 1.5em;
  height: 100%;

  border-top: 1px solid var(--gray-400);
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo_list img {
  margin-bottom: 1em;
  width: 3.5em;
  height: 3.5em;
}

.todo_list p {
  color: var(--gray-300);
  font-weight: 700;
}

.todo_list p~p {
  font-weight: 400;
}